 nav
{

height: 50px;
}

body {
    display: block;
    margin: 0px;
}
#banner
{
  background: trasparent;
  height: 980px;

}

p {
	font-size: 18px;
	letter-spacing: 1px;
}

h2 {
	font-size: 30px;
}

nav ul
{
  list-style: none;
  margin: 0;
}

nav ul li
{
  display: inline-block;
  line-height:50px;
float: right;
margin-right: 20px;
  }

  nav ul li a {
  	line-height: 50px;
  	text-decoration: none;
  	display: inline-block;
  	height: inherit;
  	color: #989898;
  }

nav ul li.logo
{
  float: left;
}

#banner .inner
{
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top:310px ;
  color: #ccc;
}

#banner .inner h1
{
  color: #e66073;
  margin: 0px;
}

button
{
  border: none;
  background: #d7a857;
  color: #eee;
  padding: 14px 40px;
}
button a
{
  text-decoration: none;
  display: inline-block;
  color: #fff;

}

#banner .inner .more
{
  margin-top: 300px;
}

.stu-heading
{
  line-height: 30px;
  margin: 30px;
}
.hr
{
    width: 100%;
  height: 3px;
    margin: 20px auto;
}

.sub-heading
{
  color: #ccc;
font-size: 35px;
}

.green-section
{
  background: #2c3649;
  color: #fff;
text-align: center;
padding: 100px 0;
}

.green-section .hr
{
  background:#078494;
  width: 60%
}

.green-section .icon-group .icon
{
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: rotate(0deg);
  margin: 20px;
}

.icon-group
{
  margin-top: 60px;
}
 .wrapper
{
max-width: 1080px;
margin: 0 auto;
}

.gray-section
{
  background: #2b3240;
  color: #fff;
}

.gray-section .img-section
{
  width: 45%;
}

.img-section img {
	width: 100%;
}

.text-section {
	width: 55%;
	position: relative;
    top: 60px;
    left: 40px;
}

.article-preview::after {
	content: '';
	display: block;
	clear: both;
}

.article-preview > div {
	float: left;
	font-size: 0;
}


.gray-section .artcle-preview .text-section p
{
  font-size:16px;
}

.article-preview:after
{
  content:;
  display:block;
}

.text-section
{
  position: relative;
  top: 68px;
  left:0px;
}

.text-section h2
{
  margin-bottom: 20pxï¼›
}
.main-wrapper
{
  background: #444 url(../img/pic03.jpg);
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
